/* .button-style {
  margin-block: 3rem;
  padding: 3rem;
  background-color: #61dafb;
  color: #282c34;
  border-radius: 20px;
  border: none;
}

.button-style:hover {
  box-shadow: 7px 6px 7px 0px rgb(112 200 255 / 50%);
}

.container-style {
  background-color: #61dafb;
  width: 30em;
  margin-inline: auto;
}

#image-style {
  width: 100%;
} */

#navBar-style {
  background-image: url("https://plus.unsplash.com/premium_photo-1669839137417-caaf1a4e00a9?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  padding-block: 2rem;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-style {
  width: 200px;
  margin-inline-end: 2em;
}
.containerNavList {
  display: flex;
  align-items: center;
  margin-inline-end: auto;
}
.containerNavList > ul {
  padding: 0;
}
.containerNavList > ul li {
  display: inline-block;
  margin-inline-end: 2em;
}
.containerNavList > ul li > a {
  text-decoration: none;
  color: yellow;
}

#inputId {
  border-radius: 10px;
  width: 200px;
  border: none;
  padding: 0.5rem;
  background-color: yellow;
}
