/* .button-style {
  margin-block: 3rem;
  padding: 3rem;
  background-color: #61dafb;
  color: #282c34;
  border-radius: 20px;
  border: none;
}

.button-style:hover {
  box-shadow: 7px 6px 7px 0px rgb(112 200 255 / 50%);
}

.container-style {
  background-color: #61dafb;
  width: 30em;
  margin-inline: auto;
}

#image-style {
  width: 100%;
} */
/* Qui stilizziamo la nav bar tramite il suo componente */
.navBar {
  background-color: rgba(168, 18, 255, 0.849);
  padding: 1rem;
  display: flex;
  align-items: center;
}
.logo-container {
  margin-inline-end: auto;
}
.logo {
  width: 100px;
}
.nav-list {
  padding: 0;
}
.nav-list li {
  display: inline-block;
  margin-inline: 1rem;
}
.nav-list li a {
  text-decoration: none;
  color: inherit;
}
/* qui finisce la navbar */
/* qui stilizziamo il container principale  */

.container {
  display: flex;
}

/* stile delle card */
.card-style {
  width: 300px;
  margin-block-start: 3rem;
  padding: 0.5rem;
  background-color: rgba(168, 18, 255, 0.849);
}
.card-style img {
  width: 100%;
  border-radius: 10px;
}
.card-body {
  text-align: center;
}
.card-body h4,
p {
  margin-block: 0.5rem;
}

.btnBuy {
  border: none;
  border-radius: 5px;
  padding-inline: 1rem;
  padding-block: 0.5rem;

  font-weight: 700;
  background-color: rgba(242, 231, 253, 0.63);
  margin-block: 1rem;
}

.btnBuy:hover {
  transform: scale(1.2);
  background-color: rgb(242, 231, 253);
  box-shadow: 3px 2px 5px 0px #0589f6a3;
  text-transform: uppercase;
}
